# Git and version control
.git
.github

# Node modules
node_modules

# Next.js build output
.next

# Local environment variables
.env.local
.env.development.local
.env.test.local

# VSCode settings
.vscode

# Mac-specific files
.DS_Store

# Log files
npm-debug.log*
yarn-error.log*
